* {
    margin: 0px;
    padding: 0px;
    text-decoration-color: #333333;
    font-family: 'Courier New', Courier, monospace, cursive;
    box-sizing: border-box;
}

header {
    position: sticky;
    background-color: #c00a27;
    padding: 16px 0px 16px 0px;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0px 16px 0px 16px;
}

.container h2 {
    display: inline-block;
    color:white;
    padding: 0px 12px 0px 12px;
    font-size: 32px;
}

nav {
    float: right;
    padding: 10px 0px 10px 0px;
}

.nav-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color:white;
    padding: 0px 12px 0px 12px;
}

.nav-links:hover {
    background-color: #4C9900;
    color: white;
    padding: 25px 12px 25px 12px;
}

#wrapper {
    background-color: #fafafa;
}

#cover {
    position: relative;
    background-color: #c00a27;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#cover img {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: block;
}

#cover-text {
    position: absolute;
    text-align: center;
    padding: 0px;
    left: 0px;
    right: 0px;
    top: 36%;
}

#cover-text h1 {
    font-size: 54px;
    margin: 8px 0px 8px 0px;
    color: white;
    text-transform: uppercase;
    line-height: 1.4em;
}

#cover-text small {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 16px;
    display: block;
    color: white;
    opacity: 0.9;
}

.action-btn {
    text-decoration: none;
    background-color: #78bb1b;
    color: white;
    padding: 12px 36px 12px 36px;
    border-radius: 23px;
}

.action-btn:hover {
    background-color: white;
    color: black; 
}

#bg-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

article {
    display: inline-block;
    width: 25%;
    height: auto;
    margin-bottom: 20px;
    background-color: rgb(235, 235, 235);
    text-align: center;
    margin: 15px;
    padding: 5px 0px 10px 0px;
}

.naruci-btn {
    border: none;
    border-radius: 15px;
    background-color: rgb(210, 55, 55);
    color: white;
    padding: 10px;
    width: 115px;
}

.article-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

article:hover {
    border: 2px solid black;
    transform: scale(1.1);
}

footer {
    bottom: 0;
    margin-top: 20px;
    background-color: #c00a27;
    width: 100%;
    text-align: center;
}